name: Run deteKT

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  detekt_check:
    runs-on: ubuntu-24.04
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Gradle build with remote cache
        uses: burrunan/gradle-cache-action@v3
        with:
          arguments: detektAll
          properties: |
            org.gradle.caching=true
          gradle-version: wrapper
          # additional files to calculate key for dependency cache
          gradle-dependencies-cache-key: |
            buildSrc/**/Versions.kt
