name: Create release

on:
  push:
    tags:
      - 'v*'
env:
  PGP_SEC: ${{ secrets.PGP_SEC }}
  PGP_PASSWORD: ${{ secrets.PGP_PASSWORD }}
  OSSRH_USERNAME: ${{ secrets.SONATYPE_USER }}
  OSSRH_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}

jobs:
  release_linux:
    name: Build release on main platform (Linux)
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle release with caches caching
        with:
          arguments: publishToSonatype closeSonatypeStagingRepository
          gradle-version: wrapper
      - name: Create Github Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
  release_macos:
    name: Build release on MacOS
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle release with caches caching
        with:
          arguments: publishToSonatype closeSonatypeStagingRepository
          gradle-version: wrapper
  release_windows:
    name: Build release on Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle release with caches caching
        with:
          arguments: publishToSonatype closeSonatypeStagingRepository
          gradle-version: wrapper